* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

.card {
    width: 80%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
    padding: 50px 50px;
    height: 100;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 60px;
    border-radius: 20px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 40%;
    width: 50px;
    height: 50px;
    cursor: pointer;

}

.search button img {
    width: 18px;
}


.weather-icon {
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather img {
    margin-top: 30px;
    width: 20%;
    height: 20%;
    border-radius: 10px;

}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.col img {
    margin-top: 20px;
    height: 50%;
    width: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 15px;


}

.humidity,
.windy {
    font-size: 28px;

}

.error {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    display: none;

}